* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
text-decoration:none;
}

.clear {
    clear: left;
  }

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*coding untuk style header*/
header {
    height: 70px;
    width: 100%;
    background-color: #27557E;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    z-index: 10;    
    }

.header-logo {
     float: left;
     height: 120px;
     width: 105px;
     padding: 0px 0px 30px 0px;
     margin-top: 0px;
}

.header-logo:hover{
    height: 144px;
    width: 126px;
}

.header-right li {
    display: inline-flex;
    list-style: none;
    text-align: center; 
}

.header-right ul {
    float: right;
}

.header-right li {
    width: 90px;
    margin: 10px;
    padding-bottom: 10px;
}

.header-right ul li a {
    text-decoration: none;
    color: #b3d9ff;
    text-align: center;
    width: 100px;
    }

.header-right ul li a:hover {
    font-size: 25px;
    margin-top: 0px;
    padding-top: 0px;
}

.sub-menu-team-profile {
    display: none;
    margin-top: 3px;
    color: #011118;
    top: 50px;
}
    
.header-right ul li:hover .sub-menu-team-profile {
    display: block;
    position: absolute;
    background-color: #3D85C6;
    margin-top: 5px;
    padding-top: 0px;
    margin-left: 0px;
    width: 120px;
}

.header-right ul li:hover .sub-menu-team-profile ul {
    display: block;
    margin: 5px;
    
}

.header-right ul li:hover .sub-menu-team-profile ul li {
    width: 90px;
    padding: 5px 0px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.header-right ul li:hover .sub-menu-team-profile ul li:last-child {
    border-bottom: none;
}

.header-right ul li:hover .sub-menu-team-profile ul li a:hover {
    color: #370505;
    font-size: 20px;
}

.menu-icon {
    color:white;
    float:center;
    font-size: 25px;
    padding: 21px 20px;
    display: none;
  }
  

.top-wrapper {
    padding: 60px 0 60px 0;
    background-image: url(pexels-photo.jpeg);
    height: 500px;
    background-size: cover;
    color: white;
    text-align: center;
 }

.top-wrapper h1{
    font-size: 100px;
    margin-bottom: 5px;
    opacity: 0.8;
    font-family: "Monospace";
}

.top-wrapper h3 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 3px;
    color: white;
    opacity: 0.6;
    font-family: "Cursive";
}

.lesson-wrapper {
     padding-bottom: 20px;
     padding-left: 5%;
     padding-right: 5%;
     text-align: center;
     background-color: #EBF8FF;
 }

.heading {
     padding-top: 45px;
     padding-bottom: 45px;
     color: #04354E;
     font-size: 60px;
     font-family: "Fantasy";
 }

.lessons {
    display: inline-flex;
    margin-bottom: 10px;
 }

.lesson {
    float: left; 
    width: 25%;
 }

 .lesson-icon {
     position: relative;
     width: 25%;
 }

 .lesson-icon p {
     position: absolute;
     top: 25%;
     width: 100%;
     color: white;
 }

 .subject {
     color: #04354E;
     font-size: 30px;
 }

 .subject:hover {
     background-color: #ceedfd;
     font-size: 35px; 
     cursor: pointer;
 }

 .text-contents {
     width: 80%;
     display: inline-block;
     margin-top: 5px;
     font-size: 20px;
     color: #3E0404; 
 }

 .text-contents:hover {
     color: #2E0202;
     font-size: 21px;
     background-color: #ceedfd;
     cursor: pointer;     
 }

 .message-wrapper {
     border-bottom: 1px solid #eee;
     padding: 10px 0px 10px 0px;
     text-align: center;
 }

 .heading1 {
     color: #001e33;
 }

 .heading2 {
     color: #0066ff;
 }

 .btn-wrapper {
     margin: 10px 0;
 }
 
 .btn {
     padding: 12px 12px;
     color: white;
     display: inline-block;
     opacity: 0.8;
     border-radius: 4px;
     text-align: center;
     width: 180px;
     text-decoration: none;
     font-size: 20px;
 }

 .sign-in {
     background-color: #1a7940;
    }

 .register {
     background-color: #b25900;
     }

 .sign-in:hover {
    opacity: 1;
    font-size: 25px;
    box-shadow: 0 7px #003300;
}
 
.register:hover {
    opacity: 1;
    font-size: 25px;
    box-shadow: 0 7px #592c00;
}

  .btn:active {
    font-size: 30px;
    width: 200px;
  }
  
  .sign-in:active {
    box-shadow: none;
    position: relative;
    top: 7px;
  }

  .register:active{
    box-shadow: none;
    position: relative;
    top: 7px; 
  }


 footer {
     padding-top: 5px;
     padding-bottom: 5px;
     text-align: left;
     background-color: #000d1a; 
     width: 100%;    
     height: 120px;   
 }

 .footer-content {
     float: left;
 }

 .footer-logo {
    font-size: 34px;
    padding: 0px 5px;
    color: #b3d9ff;
 }

 .footer-text {
    color: #b3d9ff;
    font-size: 12px;
    padding-left: 10px;
 }

 .footer-link {
     float: right;
     text-align: right;
     padding-right: 5px;     
 }

 .footer-link-title {
    color: #b3d9ff;
    font-size: 15px;
    margin-bottom: 3px;
 }

 .footer-list li {
    list-style: none;
    padding-bottom: 5px;
}

.footer-list a {
    text-decoration: none;
    font-size: 15px;
    color: #1a7940;
}

.footer-list a:hover{
   cursor: pointer;
   font-size: 25px; 
}
